<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Hey, <%=userName%></h1>
            <p>Welcome to your Dashboard! Let's Start.</p>
        </div>
        <div class="chat-support">
          
          <div class="d-flex">
            <div class="col-md-6">
              <p class="fw-bold fs-4">Breaking free from addiction is hard, but you don't have to do it alone</p>
              <p>The chatbot can answer common questions related to drug use, withdrawal symptoms, and recovery strategies. It can also provide resources and support to help users stay motivated and focused on their journey towards a healthier life.

                Whether you're just starting to address your drug addiction or have been in recovery for some time, our chatbot is always available to offer a listening ear and helpful advice. With its 24/7 availability, you can access the support you need whenever you need it.</p>
            </div>
            <div class="chatbot-container col-md-6">
              <iframe
                class="chatbot"
                src="https://web.powerva.microsoft.com/environments/Default-27282fdd-4c0b-4dfb-ba91-228cd83fdf71/bots/new_bot_c36f426d19254dc08c2b5166b5c2030b/webchat"
                frameborder="0"
                style="height: 400px; width: 700px; border: 3px solid #000;"
              ></iframe>
            </div>
          </div>
        </div>
    </div>
</div>