<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title text-success">
                    CLEAN-CRAVE
                </h1>
                <p class="fs-4 mb-4">
                    Welcome! Our website is designed to help you overcome drug addiction with a range of tools and services, including a progress tracker, reward system, live chat bot, and consultancy service. Our goal is to support your recovery journey and help you build a fulfilling life in sobriety. Whether you're struggling with addiction yourself or supporting a loved one, we're here to help.                 </p>
                <a href="/auth/google" class = "btn btn-primary btn-lg">Start you Journey Now</a>
            </div>
        </div>
    </main>
</div>
