<div class="container-fluid container-fluid-custom">
    <h1>Products</h1>
    <p class="fw-bold">Congratulations! YOU GET TO COLLECT YOU AWARDS!</p>
    <p>Use your Progress Points you used to maintain in our tracker and Use them to collect and buy the products you like.</p>
    <div class="d-flex mb-3 me-3">
        <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://images.mamaearth.in/catalog/product/v/i/vitamin-c-skincare-regimen-kit_mzka1kswpz0gem40_white_bg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MamaEarth Hamper</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="http://cdn.shopify.com/s/files/1/0057/8938/4802/products/eb8e0fbd-c412-48b3-9c91-5b49ddf35800.png?v=1673002681" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Boat Headphone</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="http://cdn.shopify.com/s/files/1/0057/8938/4802/products/main1_15634ca0-9f81-4d11-b891-9a1496f709b1.png?v=1641801688" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Boat Earphones</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/41hgR3AKBWL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Book</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/61pOS883SNL._UX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wearable</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
    </div>
    <div class="d-flex mb-3 me-3">
        <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/71k99aFH6CL._SX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Skin Care Minimalist</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/610OgKafU-L._SX522_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gym Dumbels</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="http://cdn.shopify.com/s/files/1/0057/8938/4802/products/e7910a39-186a-41f6-ac57-fc3e84108104.png?v=1625045106" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Smart Watch</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/61pOS883SNL._UX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wearables</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/61pOS883SNL._UX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wearables</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
    </div>
    <div class="d-flex mb-3 me-3">
        <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://images.mamaearth.in/catalog/product/v/i/vitamin-c-skincare-regimen-kit_mzka1kswpz0gem40_white_bg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MamaEarth Hamper</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="http://cdn.shopify.com/s/files/1/0057/8938/4802/products/eb8e0fbd-c412-48b3-9c91-5b49ddf35800.png?v=1673002681" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="http://cdn.shopify.com/s/files/1/0057/8938/4802/products/main1_15634ca0-9f81-4d11-b891-9a1496f709b1.png?v=1641801688" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/41hgR3AKBWL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
          <div class="card col-md-4 px-2 py-3 mb-2 me-3" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/61pOS883SNL._UX679_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">5000 Cravepoints</p>
              <a href="#" class="btn btn-primary">Get Award</a>
            </div>
          </div>
    </div>
</div>
