<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
        <a href="/" class="logo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-success text-decoration-none fw-bold fs-3">
          CLEAN CRAVE
        </a>
    
        <form class="nav col-3 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search" method="post" action="/dashbaord/search">
            <input type="search" name = "searchTerm" autocomplete="off" class = "form-control border-primary" placeholder="Search..." aria-label="Search">
        </form>
        <ul class="nav col-13 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
          <li><a href="/tracker" class="nav-link px-2 link-dark">Slots</a></li>
          <li><a href="/products" class="nav-link px-2 link-dark">Products</a></li>
          <li><a href="/contact" class="nav-link px-2 link-dark">Subscribe</a></li>
        </ul>
        <div class="col-md-3 text-end">
          <a href = "/logout" type="button" class="btn btn-outline-primary">Logout</a>
        </div>
      </header>
</div>